/* styles.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #FAFAFA;
  color: #2A2722; /* Off black */
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FAFAFA; /* Darker navbar background */
  padding: 20px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 4em;
  font-weight: bold;
  color: #3a5a40; /* Dark Green */
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
}

.nav-links a {
  text-decoration: none;
  color: #2A2722;
  font-weight: 500;
}

.nav-links a:hover {
  color: #ffffff;
}

.auth-buttons {
  display: flex;
  gap: 10px;
}

h1 {
  margin-top: 80px; /* Add space below navbar */
  font-size: 2.5em;
}

p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

img {
  border: 3px solid #FAFAFA; /* Matches text color for a retro look */
  border-radius: 10px;
}

.blinking-text {
  animation: blink 3s step-start infinite;
}

/* Animation for blinking text */
@keyframes blink {
  50% {
    opacity: 0;
  }
}
